.emoji-large {
  font-size: 8rem;
}

.container-fluid:nth-child(odd) {
  background-color: whitesmoke;
}

.icon {
  width: 50px;
}

.click-app:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(43, 42, 42);
}

.thumbnail {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.emoji {
  font-size: 3rem;
}
