REACT_APP_STEPZEN_API_KEY=spicyvultureprice::stepzen.io+1000::bd359de8af765a70abca9634de13791ac8b254b6cd72ab876c9f00c31e645ade
REACT_APP_STEPZEN_URI=https://SpicyVulturePrice.stepzen.net/api/ideal-bobcat/__graphql
